.circular-loader {
  border: 3px solid transparent;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

table > thead > tr > th {
  font-weight: 500;
  font-size: 18px;
}

table > tbody > tr > th {
  font-weight: normal;
}

table > tbody > tr:hover {
  background-color: #c6c6c649 !important;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c5c5c5 !important;
  }

  table > tbody > tr:hover {
    background-color: #ffffff11 !important;
  }
}
